/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/09/2021, 20:50:05
    Author     : E7440
*/

html {
  /* Variables de espaciado */
  --spacer-2xs: 2px;
  --spacer-xs: 5px;
  --spacer-s: 20px;
  --spacer-m: 40px;
  --spacer-l: 50px;
  --spacer-xl: 80px;
  --spacer-2xl: 100px;
}
